/.venv
/main1.py
/output.mp3
/outputWAVENET.mp3
/sentences.db
/sentences_to_add.txt
/speechfiles
/testMP3.mp3
/your_database.db
/__pycache__
/db_and_sound_updater.py
*.pyc
/constants.py
/errata
/new_sentence_text_files
*.mp3
app/constants.py
resources/database/new_sentence_text_files/sentences_to_add.txt
resources/database/new_sentence_text_files/current_sentences.txt
/.vscode

